<div class="form-row">
    <div class="form-item">
        <label for="title">TITLE</label>
        <input type="text" name="title" value="<%=book.title%>" />
    </div>
    <div class="form-item">
        <label for="author">AUTHORS</label>
        <select name="author">
            <!-- if author has been created and a book has been created show the created author as already selected -->
            <% authors.forEach((author)=>{%>
                <%if(author.id==book.author){%>
                    <option selected label="<%=author.name%>" value="<%=author.id%>">
                        <%} else{%>
                    <option label="<%=author.name%>" value="<%=author.id%>">
                        <%}%>
                            <%})%>
        </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label for="publishDate">PUBLISH DATE</label>
        <input type="Date" name="publishDate" value="<%=book.publishDate ==null ? ' ' :
               book.publishDate.toISOString().split('T')[0]%>">
    </div>
    <div class="form-item">
        <label for="pageCount">PAGE COUNT</label>
        <input type="Number" name="pageCount" min="1" value="<%=book.pageCount%>" />
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-gorw">
        <label>COVER</label>
        <input type="file" name="name" class="filepond" />
    </div>

    <div class="form-item">
        <label for="description">DESCRIPTION</label>
        <textarea name="description"><%=book.description%></textarea>
    </div>
</div>